:root {
  font-family: sans-serif;
  font-size: 62.5%;
  line-height: 1.1;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Typography */
h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
}

p {
  font-size: 1.5rem;
}

img {
  max-width: 100%;
}

/* Navigation Bar */
.nav {
  background-color: #111;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.block--dark-nav {
  background-image: radial-gradient(#bbb 1%, #555 2%, #000 54%);
  color: #7b858b;
}

.nav__logo-image {
  align-self: center;
  width: 40px;
  height: 40px;
  margin: 0.5em auto 0 0.5em;
}

.nav__menu-icon {
  align-self: center;
  height: 50px;
  opacity: 1;
  width: 50px;
}

.nav__menu-icon:hover {
  cursor: pointer;
  opacity: 0.7;
}

.nav__list {
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
}

.nav__item {
  font-size: 2rem;
  margin-bottom: 1em;
  padding: 0 2em;
}

.nav__item > a {
  color: #fff;
  font-weight: 700;
  opacity: 0.8;
  position: relative;
  text-decoration: none;
}

.nav__item:last-child {
  margin-bottom: 0;
}

.nav__item > a:hover {
  color: #555;
}

.nav__item > a::before {
  color: #3bffe8;
  content: attr(data-text);
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 40px;
  position: absolute;
  left: 55%;
  transform: translate(-50%, 50%);
  text-shadow: 0 0 10px #3bffe8, 0 0 30px #3bffe8, 0 0 80px #3bffe8;
  text-align: center;
  white-space: normal;
  opacity: 0;
  transition: 0.5s;
}

.nav__item > a:hover::before {
  opacity: 1;
  letter-spacing: 9px;
}

/* Collapsible section */
.collapsible__content {
  font-size: 1.75rem;
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: all 0.3s;
}

.collapsible--expanded .collapsible__content {
  max-height: 100vh;
  opacity: 1;
}

@media screen and (min-width: 768px) {
  .nav__menu-icon {
    display: none;
  }

  .nav__list {
    display: flex;
    max-height: 100%;
    opacity: 1;
    width: auto;
  }

  .nav__item {
    align-self: center;
    border: 0;
    font-size: 1.5rem;
    margin: 0 0 0 5em;
  }
}

.collapsible__header {
  display: flex;
  justify-content: space-between;
}

.collapsible__heading {
  font-size: 3rem;
  margin-top: 0;
}

.collapsible__image {
  width: 30px;
  height: 30px;
  transform: rotate(-90deg);
  transition: transform 0.3s;
}

.collapsible--expanded .collapsible__image {
  transform: rotate(0);
}

@media screen and (min-width: 786px) {
  .collapsible .collapsible__content {
    max-height: 100vh;
    opacity: 1;
  }
}

/* Header */

.grid {
  display: grid;
}

.grid--1x2 {
  grid-template-columns: repeat(2, 1fr);
}

.block {
  --padding-vertical: 2rem;
  padding: var(--padding-vertical) 2rem;
}

.block--dark {
  background: #000;
  color: #7b858b;
}

.block--skewed-left {
  padding-bottom: calc(var(--padding-vertical) + 4rem);
  clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 0% 100%);
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}

.banner__heading {
  color: rgb(246, 8, 8);
  font-size: 7rem;
  letter-spacing: 5px;
  margin: 0;
  text-align: center;
  text-transform: lowercase;
}

.banner__image {
  margin: 0 auto;
}

/* Aside */

.aside__heading {
  font-weight: 900;
  margin-bottom: 0;
  text-align: center;
}

.aside__text {
  font-size: 2.2rem;
  margin: 0 1em;
  text-align: center;
  word-spacing: -1px;
  line-height: 1.3;
}

.aside__aux-text,
.content__text {
  text-align: center;
  font-weight: 700;
}

.aside__aux-text {
  margin: 0 auto 0.25em auto;
  font-size: 2.5rem;
}

.aside__card {
  display: flex;
  flex-direction: column;
  margin-top: 1.5em;
}

.aside__block {
  padding-bottom: 0;
}

.btn {
  background-color: rgb(246, 8, 8);
  border: 0;
  border-radius: 50px;
  color: #000;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: 600;
  margin: 0.5em auto 3em auto;
  padding: 1.2em 2em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
}

.btn--block {
  display: inline-block;
  width: 50%;
}

.btn--block:hover {
  background-color: rgb(209, 25, 9);
}

.btn__submit {
  background-color: rgb(246, 8, 8);
  border: 0;
  border-radius: 50px;
  color: #000;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: 600;
  margin: 1em auto 1em auto;
  padding: 1.2em 2em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
}

@media screen and (min-width: 786px) {
  .btn--block {
    width: 25%;
  }

  .aside__text {
    margin: 0.5em auto;
    width: 50%;
  }
}

@media screen and (min-width: 1024px) {
  .btn {
    font-size: 2em;
  }
}
/* Contents*/
.content__block {
  padding-top: 0;
}

.card {
  border-radius: 7px;
  box-shadow: 9px 9px 5px grey;
  max-height: 350px;
  margin: 0 auto 2em auto;
  overflow: hidden;
  width: 300px;
}

.card__header {
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 2.1px;
  word-wrap: break-word;
  padding: 2rem 3rem;
}

.card__image {
  height: 300px;
  width: 300px;
}

.card--primary .card__header {
  background-color: #043d83;
  color: #fff;
}

.content__text {
  font-size: 2rem;
  margin: 0 auto;
}

.aside__card .card__header {
  text-align: center;
}

.media {
  display: flex;
  flex-direction: column;
  margin-bottom: 3em;
}

.media__heading {
  text-align: center;
}

.media__header {
  font-size: 2.5rem;
  font-weight: 700;
}

.media__image,
.media__body {
  width: 75%;
  margin: 0 auto;
}

.media__title {
  margin: 0 auto;
  font-weight: 600;
}

.media__text {
  font-size: 2rem;
  margin: 0.25em auto 0 auto;
}

@media screen and (min-width: 1000px) {
  .aside__card {
    flex-direction: row;
    margin: 2em auto 0 auto;
    max-width: 100%;
  }

  .media__content {
    display: flex;
  }

  .media__image img {
    border-radius: 5px;
  }

  .media__image,
  .media__body {
    width: 65%;
  }

  .media__heading {
    grid-column: 1 / span 3;
  }

  .media__container {
    width: 80%;
    margin: 0 auto;
  }
}

/* Footer */
.footer__legend,
.footer__fieldset {
  color: dodgerblue;
}

.footer__text {
  padding: 10px;
}

.footer__text,
.footer__textarea {
  margin-bottom: 1em;
  width: 75%;
}

.footer__text,
.footer__textarea,
.fieldset__text-block {
  border-radius: 7px;
  margin-bottom: 0.5em;
}

input:focus,
textarea:focus {
  background: rgb(106, 176, 245);
}

.footer__legend {
  font-size: 2.5rem;
}

.footer__fieldset {
  font-size: 2rem;
}

.fieldset__text-block {
  color: #fff;
  line-height: 1.3;
}

.fieldset__text-block p {
  margin-top: 0.25em;
}

.fieldset__heading {
  color: rgb(246, 8, 8);
  font-weight: 500;
  margin-bottom: 0;
}

.fieldset__text-block p {
  margin-bottom: 0;
}

.footer__link {
  font-family: serif;
  color: blue;
  text-transform: lowercase;
}

.footer__link:hover {
  color: dodgerblue;
}

@media screen and (min-width: 786px) {
  .footer__fieldset {
    display: inline-flex;
    flex-wrap: nowrap;
    width: 100%;
    gap: 30px;
  }

  .footer__text,
  .footer__textarea,
  .fieldset__text-block {
    width: 70%;
  }

  .fieldset__heading {
    font-size: 2.5rem;
  }

  .fieldset__block,
  .fieldset__text-block {
    display: inline;
    width: 100%;
  }
  .fieldset__text-block p {
    font-size: 2rem;
    padding-right: 40px;
  }
}

@media screen and (min-width: 1024px) {
  .footer__link {
    float: right;
    padding-right: 50px;
  }
}

@media screen and (min-width: 1055px) {
  .fieldset__text-block {
    position: relative;
  }

  .footer__link {
    position: absolute;
    bottom: 0;
    right: 0;
  }
}
